.done__page {
  background-image: url("../css/images/torn-beige-paper2.jpg");
  background-size: cover;
  background-position-y: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.done__page h1:nth-child( 1 ) {
  backdrop-filter: blur(1px);
}
