.profile__page {
  align-items: center;
  background-image: url("../css/images/torn-beige-paper2.jpg");
  background-size: cover;
  background-position-y: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  opacity: 0.9;
}

.profile__page h1:nth-child( 1 ) {
  backdrop-filter: blur(2px);
}

.user-info {
  background-image: url("../css/images/post-it-note.png");
  background-size: contain;
  background-position: 30%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 450px;
  transform: rotate(5deg);
}

.profile-subtitle {
  color: #4a1a1a;
  float: right;
  font-size: 28px;
  font-weight: 600;
  transform: rotate(-6deg);
}

.profile-email {
  color: #4a1a1a;
  font-family: AlexBrush;
  font-size: 32px;
  transform: rotate(-7deg);
}

.profile-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 40px;
}

.profile-btns button {
  margin: 0 3px;
}
